<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us- Lifestyle Vibes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../style/about.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Lifestyle Vibes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../components/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../components/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../components/contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../components/subscribe.html">Subscribe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <div class="first-page" id="about">
            <div class="content-section">
                <div class="text">
                    <h1>About Lifestyle Vibes</h1>
                    <p>
                        Lifestyle is all about finding harmony in every aspect of life, nurturing your physical
                        well-being,
                        embracing mental clarity, and savoring each moment as it comes. It's not just about following
                        trends,
                        but about discovering what truly brings you joy and fulfillment.
                        Whether you're passionate about fitness, exploring mindfulness practices,
                        or simply seeking ways to elevate your everyday routines, this is where your journey begins.
                        From creating healthy habits to cultivating a mindset of gratitude and purpose,
                        we are here to inspire and guide you towards a balanced, thriving, and vibrant lifestyle that
                        reflects the best version of yourself.
                    </p>
                    <p>
                        A healthy lifestyle encompasses much more than physical fitness;
                        it's about cultivating habits that support overall well-being.
                        This includes nourishing your body with wholesome foods,
                        engaging in activities that move your body and make you feel alive,
                        and surrounding yourself with an environment that promotes peace and positivity.
                        It's about finding moments of stillness to connect with your inner self and practicing gratitude
                        for both the big and small moments. Living this way not only enhances your physical health but
                        also nurtures your emotional and mental wellness, creating a foundation for true happiness.
                    </p>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/uZX14W4rVCU?autoplay=1&mute=1"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="second-page" id="about">
            <div class="content-section">
                <div class="text">
                    <h1>Our Team</h1>
                    <p>
                        Our team is a diverse group of wellness enthusiasts, fitness experts,
                        and lifestyle gurus who share a passion for promoting holistic health and well-being.
                        Each member brings a wealth of experience and expertise in their respective fields,
                        from nutrition and mental wellness to physical fitness and personal growth.
                        We are committed to staying at the forefront of the latest research, insights, and trends,
                        ensuring that we provide you with up-to-date, practical advice and inspiration.
                        Our goal is to empower you to live your best life by helping you make informed choices,
                        embrace healthy habits, and create a balanced, fulfilling lifestyle that resonates with your
                        personal values and aspirations.
                    </p>
                </div>
            </div>
        </div>

        <div class="third-page">
            <div class="row-section" id="third-row-section">
                <div class="column-section" id="third-first-section">
                    <img src="../assets/Fotoku.jpg" alt="Picture 4" />
                    <h1>Hans Thobie Sachio</h1>
                    <p>
                        Hans is a student from Tarumanagara University who is studying a lot,
                        this young man is the ceo and founder of this website that discusses lifestyle vibes.
                        With the awareness of the importance of lifestyle in this day and age,
                        Hans bridged it by creating this website which aims to provide information and learning tools.
                    </p>
                </div>

                <div class="column-section" id="third-second-section">
                    <img src="../assets/Linus.jpeg" alt="Picture 5" />
                    <h1>Ir. Linus Benedict T.</h1>
                    <p>
                        Linus Benedict Torvalds is a Finnish software engineer known as the creator and lead developer
                        of the Linux kernel.
                        This man is the co-CEO and founder of a lifestyle website.
                    </p>
                </div>
            </div>
        </div>

        <div class="fourth-page" id="about">
            <div class="content-section">
                <div class="text">
                    <h1>Our Goals</h1>
                    <p>
                        The Lifestyle Vibes website was created with the aim to inspire and guide individuals in
                        achieving a balanced,
                        healthy and blissful life. We believe that a good lifestyle is not only limited to physical
                        fitness,
                        but also includes mental health, emotional well-being, and appreciation of every moment of life.
                        Through the latest information, tips, and trends on fitness, mindfulness, and daily routines,
                        we want to help users find true happiness and fulfillment.
                        Thus, this website becomes a platform that facilitates the creation of healthy habits,
                        the development of gratitude, and the search for harmony in all aspects of life,
                        so that everyone can live as the best version of themselves.
                    </p>
                </div>
            </div>
        </div>
        <footer class="bg-light text-center text-lg-start mt-auto">
            <div class="container p-4">
                <p class="text-muted">Privacy and Policy</p>
                <p class="text-muted">&copy; Hans Thobie Sachio 535230135 TI-A</p>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../script_contact.js"></script>
</body>

</html>